{
    "env": {
        "browser": true,
        "mocha": true,
        "node": true
    },
    "extends": "airbnb",
    "plugins": [
        "mocha",
        "react"
    ],
    "rules": {
        "indent": [2, 4],
        "mocha/no-exclusive-tests": 2,
        "vars-on-top": 0,
        "key-spacing": 0,
        "id-length": 0,
        "guard-for-in": 0
    }
}
